input {
    margin: 10px;
}

.main-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin:15px;
}

.search-form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.btn {
    margin: 5px;
}