<section>
<div class="search-form"> 
 
  <h1>Search for a game!</h1>
</div>
<div class="search-form">
  <form class="form-inline md-form form-sm" (submit)="search()">
        <div>
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-90" type="text" placeholder="Game name" minlength="1" name="query" [(ngModel)]="query">
        </div>
        <button type="submit" class="btn btn-dark">
            <i class="fa fa-search" aria-hidden="true"></i> Search
        </button>
  </form>
</div>

  <hr>
  <div class="main-search">
    <div *ngFor="let x of this.result.results" class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{x.image.original_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{x.name}}</h5>
        <p class="card-text">{{x.deck}}</p>
      </div>
    </div>
  </div>

</section>
