<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div href="#">
    <a href="#">
     <img src="https://image.ibb.co/euoguy/logoDB.png" width="125" height="84" class="d-inline-block align-top">
    </a>
   </div>
   <div>
     <form class="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Game name" aria-label="Game name">
      <button type="button" class="btn btn-outline-light">Search</button>        
    </form>
   </div>
   
  
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


<!--footer-->
<footer class="text-center" style="background-color: black">
    <a class="up"  href="#myPage" data-toggle="tooltip" title="TO TOP">
      <i class="fas fa-chevron-up"></i>
    </a>
      <br>
      <div>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-twitter" ></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-facebook" style="margin: 10px"></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-google-plus-g" style="margin: 10px"></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-instagram" style="margin: 10px"></i>
        </a>
      </div>
      <br>
      <a class="authors" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Made By Aljaž Kern & Nejc Kovačič</a> 
    </footer>



