<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div href="#">
     <img src="https://image.ibb.co/euoguy/logoDB.png" width="125" height="84" class="d-inline-block align-top">
   </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-outline-light">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="text-center" style="background-color: black">
    <a class="up"  href="#myPage" data-toggle="tooltip" title="TO TOP">
      <i class="fas fa-chevron-up"></i>
    </a>
      <br>
      <div>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-twitter" ></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-facebook" style="margin: 10px"></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-google-plus-g" style="margin: 10px"></i>
        </a>
        <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <i class="fab fa-instagram" style="margin: 10px"></i>
        </a>
      </div>
      <br>
      <a class="authors" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Made By Aljaž Kern & Nejc Kovačič</a> 
    </footer>



