<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://image.ibb.co/euoguy/logoDB.png" width="150" height="101" class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


<!--footer-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    
  

  <div>
            <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fab fa-twitter" ></i>
            </a>
            <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fab fa-facebook" style="margin: 10px"></i>
            </a>
            <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fab fa-google-plus-g" style="margin: 10px"></i>
            </a>
            <a class="social" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="fab fa-instagram" style="margin: 10px"></i>
            </a>
  </div>

<a class="up"  href="#myPage" data-toggle="tooltip" title="TO TOP">
          <i class="fas fa-chevron-up"></i>
  </a>

          <a class="authors" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Made By Aljaž Kern & Nejc Kovačič</a> 

  </nav>



